---
import DefaultLayout from "@layouts/default.astro";
import LoadVideos from "@components/youtube-data.mjs";
import Video from "@components/youtube-video.svelte";

export async function getStaticPaths() {
let videoFeed = await LoadVideos("UCS-jtPdMwPTdjBLkQwjtzPA");
let paths = [];
videoFeed.feed.entry.forEach(video => {
  //console.log(video);
  paths.push({
    params: {id: video["yt:videoId"],},
    props: video});
});
return paths;
}

const { id } = Astro.params;
const video = Astro.props;
---

<DefaultLayout
    locale="en"
    title={video?.title}
    description={video?.description}
    class="video"
>
    <h1>{video.title}</h1>
    <section>
        <Video id={id} />
    </section>
</DefaultLayout>
