{{ define `main` }}
<section class="content" v-cloak>{{ .content }}
  <contactform locale="{{ .locale }}">{{ .thankyou | markdown }}</contactform>

  <script src="{{ asset "ember" "javascript/libraries/vue.min.js" }}"></script>
  <script src="{{ asset "ember" "javascript/components/contact.js" }}"></script>
  <script>
    var app;
    window.addEventListener('load', function(event) { app = new Vue({el: '.content'}); });
  </script>
</section>
{{ end }}
