---
import { HeadHrefLangs } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";
import '../styles/default.sass';
import config from '@content/configuration.json';
let { phone, address } = config;

// const { title, description, class, locale } = Astro.props;
i18next.changeLanguage(Astro.props.locale || "en");
const title = Astro.props.title
    ? t("title-prefix") + ": " + Astro.props.title
    : t("title");
const description = Astro.props.description || t("description");
const keywords = Astro.props.keywords || t("keywords");
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>{ title }</title>
    <meta name="title" content="{ title }" />
    <meta name="description" content={ description }/>
    <meta name="keywords" content={ keywords } />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body class={Astro.props.class}>
    <main class="container">
        <div id="logo">
          <div id="lang">
            { Astro.props.locale === "ru"
                ? <a href="/index.html">🇺🇸</a>
                : <a href="/ru/index.html">🇷🇺</a>
            }
          </div>
        </div>
        <slot name="hero" />
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href={localizePath("/index.html")}>{t("menu.home")}</a>
            <a class="navbar-item" href={localizePath("/about.html")}>{t("menu.about")}</a>
            <a class="navbar-item" href={localizePath("/sermons.html")}>{t("menu.sermons")}</a>
            <a class="navbar-item" href={localizePath("/contact.html")}>{t("menu.contact")}</a>
          </div>
        </nav>
        <section class="content">
          <slot />
        </section>
        </main>
    <footer>
        <slot name="footer">
            <section class="container has-text-centered">
                  <small>&#169; Copyright {(new Date()).getFullYear()} • {t("title")} • {address} • {phone}</small>
            </section>
        </slot>
    </footer>
  </body>
</html>

<style>
#lang {
  font-size: 1.6em;
}
</style>
