{{ define `main` }}
<div class="columns">
  <section class="column res" id="a{{ item.id }}"><article>
    <section class="content">{{ .content }}</section>
  </article></section>
  <section class="column">
  <iframe class="full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3339.799612444595!2d-96.83192634838797!3d33.16688727121552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3ea955861391%3A0x56ca362169909111!2s10633+John+W.+Elliott+Dr%2C+Frisco%2C+TX+75033%2C+USA!5e0!3m2!1sen!2sua!4v1504940505987" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>
{{ end }}
